<h1>Users</h1>
<% @users.each do |u| %>
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="<%= gravatar_url u, 48 %>" alt="<%= u.username %>">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><%= u.name %></h4>
			<em><%= u.username %></em>
			<span class="glyphicon glyphicon-envelope"></span> <%= u.email %>
			
		</div>
	</div>
<% end %>