<h1>Sign Up</h1>
<div>
	<%= form_for :user, url: users_path do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.submit "Create Account", :class => "btn btn-success" %>
	</p>
	<% end %>
</div>