<!DOCTYPE html>
<html>
<head>
  <title>Bismillah - GenPop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-th-list"></span>
				</a>
				<a href="#" class="brand">GenPop</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Sign In</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<%= yield %>
</div>
</body>
</html>
